//
//  Debug.xcconfig
//  EatSSU-iOS
//
//  Created by Jiwoong CHOI on 6/19/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// API 엔드 포인트 주소
BASE_URL = $(API_BASE_URL_DEV)

// 카카오 API 키
KAKAO_API_KEY = $(KAKAO_API_KEY)

// Google Ad Mobs App ID
GADApplicationIdentifier = $(GAD_APPLICATION_IDENTIFIER)

// Ad UNIT ID
AD_UNIT_ID = $(AD_UNIT_ID)

// Naver Maps Key
NMAP_CLIENT_ID = $(NMAP_CLIENT_ID)
NMAP_CLIENT_SECRET = $(NMAP_CLIENT_SECRET)
